@model IEnumerable<Category>

    <div class="text-center my-3">
        <h6 class="display-6">
            Categories
        </h6>
    </div>
    <ul class="list-group my-3">
        @foreach(var cat in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@cat.CategoryId" class="text-decoration-none text-reset" >
                @cat.CategoryName
                </a>
                </li>
        }
    </ul>