@page  "/getintouch"
<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3 "></i>
        <p>Our "Customer Services" service responds to your questions as quickly as possible 24 hours a day, 7 days a week.</p>
        <p> +90 (264) 295 54 54</p>
    </div>

    <div class="lead">
        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3 "></i>
        <p> Sakarya University Esentepe Campus 54050 Serdivan / SAKARYA / TURKEY</p>
    </div>
 
    <div class="lead">
        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3 "></i>
        <p> bilgi@sakarya.edu.tr</p>
    </div>
</div>
