<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<div class="bg-light border-top p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center">
                    <i class="fa-regular fa-gem text-secondary display-6"></i>
                    <br>
                </div>
                <div class="text-muted text-center">
                    SPACE SPORT
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                    &copy; 2024 <br>
                    <p style="font-family: 'Indie Flower', cursive; font-size: 1.5rem;">Everyone has the right to dress well
                        </p>
                </div>

                <div class="text-center">
<div class="btn-group">
    <a class="btn" style="background-color: #1877F2; color: white;">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a class="btn" style="background-color: #1DA1F2; color: white;">
        <i class="fa-brands fa-twitter"></i>
    </a>
    <a class="btn" style="background-color: #0A66C2; color: white;">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a class="btn" style="background-color: #FF0000; color: white;">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a class="btn" style="background-color: #E4405F; color: white;">
        <i class="fa-brands fa-instagram"></i>
    </a>
</div>
                </div>
            </div>
            <div class="col-md-2">
                <div products="" number="6"></div>
                @* tag helperin kullanildigi div *@
            </div>
        </div>
    </div>
</div>