<nav class="navbar bg-light border-bottom navbar-expand-lg bg-body-tertiary">
    <div class="container">

<a class="navbar-brand d-flex align-items-center" href="/" style="text-decoration: none;">
    <h3 class="ms-3 fw-bold mb-0" style="font-family: 'Anton', sans-serif; color: #FF4500;">
        SPACE <span style="color: #1E90FF;">SPORT</span>
    </h3>
</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Product" asp-action="Index">Products
                        (@await Component.InvokeAsync("ProductSummary"))</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Category"
                        asp-action="Index">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-page="/Contact">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav">
               
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area=""asp-page="/Cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Cart(@await Component.InvokeAsync("CartSummary"))</a>
                </li>
                
                <partial name="_LoginMenu" />
            </ul> 
        </div>
    </div>
</nav>

<link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@400;500&display=swap" rel="stylesheet">

<style>
    .navbar-brand:hover .logo-icon {
        background-color: #FF4500; 
        transform: scale(1.1);
        transition: all 0.3s ease;
    }

    .navbar-brand:hover h3 span {
        color: #FFD700; 
         transform: scale(1.1);
          transition: all 0.3s ease;
    }
    .logo-icon {
        border: 10px solid rgba(47, 184, 225, 0.292);
    }
</style>
